<% title "Edit Assessmentform" %>
<hr width="100%" size="2">
<br>
<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @assessmentform %> |
  <%= link_to "View All", assessmentforms_path %>
</p>
